@import "~@crvs/platform/lib/styling/base";
@import "../../lib/styling/base/colors";
@import "../../lib/styling/base/variables";

$link-color             : $cyan-900;

$font-family-sans-serif : $font-family-base;
$headings-font-family   : $font-family-headings;
$font-size-root         : 13px;
$font-weight-normal     : $font-weight-base;
$headings-font-weight   : $font-weight-headings;

$lead-font-weight: 400 ;
$tag-font-weight        : 500;

$border-radius          : 0;
$border-radius-sm       : 0;
$border-radius-lg       : 0;