@import "../../lib/styling/base/colors";

$link-color             : $cyan-900;

$font-family-sans-serif : Poppins, Helvetica, sans-serif;
$headings-font-family   : Roboto, Helvetica, sans-serif;
$font-size-root         : 13px;
$font-weight-normal     : 300;

$tag-font-weight        : 500;

$border-radius          : 0;
$border-radius-sm       : 0;
$border-radius-lg       : 0;